In [1]:
import numpy as np
import scipy.special as sp
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')
#target_data = data['Survived'].values
#data = data.drop(columns=['Survived']).values
data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
data = pd.read_csv('titanic_data.csv', index_col='PassengerId')
#target_data = data['Survived'].values
#data = data.drop(columns=['Survived']).values
data

             Survived  Pclass  Sex   Age  SibSp  Parch      Fare
PassengerId
1                   0     0.3    1  0.22    0.1    0.0  0.007250
2                   1     0.1    0  0.38    0.1    0.0  0.071283
3                   1     0.3    0  0.26    0.0    0.0  0.007925
4                   1     0.1    0  0.35    0.1    0.0  0.053100
5                   0     0.3    1  0.35    0.0    0.0  0.008050
7                   0     0.1    1  0.54    0.0    0.0  0.051862
8                   0     0.3    1  0.02    0.3    0.1  0.021075
9                   1     0.3    0  0.27    0.0    0.2  0.011133
10                  1     0.2    0  0.14    0.1    0.0  0.030071
11                  1     0.3    0  0.04    0.1    0.1  0.016700
12                  1     0.1    0  0.58    0.0    0.0  0.026550
13                  0     0.3    1  0.20    0.0    0.0  0.008050
14                  0     0.3    1  0.39    0.1    0.5  0.031275
15                  0     0.3    0  0.14    0.0    0.0  0.007854
16                  1     0.2    0  0.55    0.0    0.0  0.016000
17                  0     0.3    1  0.02    0.4    0.1  0.029125
19                  0     0.3    0  0.31    0.1    0.0  0.018000
21                  0     0.2    1  0.35    0.0    0.0  0.026000
22                  1     0.2    1  0.34    0.0    0.0  0.013000
23                  1     0.3    0  0.15    0.0    0.0  0.008029
24                  1     0.1    1  0.28    0.0    0.0  0.035500
25                  0     0.3    0  0.08    0.3    0.1  0.021075
26                  1     0.3    0  0.38    0.1    0.5  0.031387
28                  0     0.1    1  0.19    0.3    0.2  0.263000
31                  0     0.1    1  0.40    0.0    0.0  0.027721
34                  0     0.2    1  0.66    0.0    0.0  0.010500
35                  0     0.1    1  0.28    0.1    0.0  0.082171
36                  0     0.1    1  0.42    0.1    0.0  0.052000
38                  0     0.3    1  0.21    0.0    0.0  0.008050
39                  0     0.3    0  0.18    0.2    0.0  0.018000
...               ...     ...  ...   ...    ...    ...       ...
857                 1     0.1    0  0.45    0.1    0.1  0.164867
858                 1     0.1    1  0.51    0.0    0.0  0.026550
859                 1     0.3    0  0.24    0.0    0.3  0.019258
861                 0     0.3    1  0.41    0.2    0.0  0.014108
862                 0     0.2    1  0.21    0.1    0.0  0.011500
863                 1     0.1    0  0.48    0.0    0.0  0.025929
865                 0     0.2    1  0.24    0.0    0.0  0.013000
866                 1     0.2    0  0.42    0.0    0.0  0.013000
867                 1     0.2    0  0.27    0.1    0.0  0.013858
868                 0     0.1    1  0.31    0.0    0.0  0.050496
870                 1     0.3    1  0.04    0.1    0.1  0.011133
871                 0     0.3    1  0.26    0.0    0.0  0.007896
872                 1     0.1    0  0.47    0.1    0.1  0.052554
873                 0     0.1    1  0.33    0.0    0.0  0.005000
874                 0     0.3    1  0.47    0.0    0.0  0.009000
875                 1     0.2    0  0.28    0.1    0.0  0.024000
876                 1     0.3    0  0.15    0.0    0.0  0.007225
877                 0     0.3    1  0.20    0.0    0.0  0.009846
878                 0     0.3    1  0.19    0.0    0.0  0.007896
880                 1     0.1    0  0.56    0.0    0.1  0.083158
881                 1     0.2    0  0.25    0.0    0.1  0.026000
882                 0     0.3    1  0.33    0.0    0.0  0.007896
883                 0     0.3    0  0.22    0.0    0.0  0.010517
884                 0     0.2    1  0.28    0.0    0.0  0.010500
885                 0     0.3    1  0.25    0.0    0.0  0.007050
886                 0     0.3    0  0.39    0.0    0.5  0.029125
887                 0     0.2    1  0.27    0.0    0.0  0.013000
888                 1     0.1    0  0.19    0.0    0.0  0.030000
890                 1     0.1    1  0.26    0.0    0.0  0.030000
891                 0     0.3    1  0.32    0.0    0.0  0.007750

[714 rows x 7 columns]